@charset "UTF-8";

@font-face {
  font-family: RobotoCondensed;
  font-display: swap;
  src: url("../fonts/RobotoCondensed-LightItalic.woff2") format("woff2"), url("../fonts/RobotoCondensed-LightItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: RobotoCondensed;
  font-display: swap;
  src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"), url("../fonts/RobotoCondensed-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: RobotoCondensed;
  font-display: swap;
  src: url("../fonts/RobotoCondensed-Bold.woff2") format("woff2"), url("../fonts/RobotoCondensed-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "RobotoCondensed";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "RobotoCondensed";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 75rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  text-align: center;
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 1.1666666667;
}

.swiper-button-prev {
  position: absolute;
  bottom: 50%;
  left: 37px;
}

.swiper-button-next {
  position: absolute;
  bottom: 50%;
  right: 37px;
}

.no-webp .header{
  background-image: url("../img/header/background.jpg"); }

.header {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.header__top {
  min-height: 8.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__img {
  min-height: 100vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__img img {
  max-width: 100%;
}

.menu__list {
  gap: 1.5625rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__link {
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 1.1666666667;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.icon-menu {
  display: none;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.no-webp .header-2{
  background-image: url("../img/header-2/background.jpg"); }

.header-2 {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.header-2__top {
  min-height: 8.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports ((-moz-column-gap: clamp( 2.5rem , 0.4340659341rem  +  10.3296703297vw , 8.375rem )) or (column-gap: clamp( 2.5rem , 0.4340659341rem  +  10.3296703297vw , 8.375rem ))) {
  .header-2__top {
    -webkit-column-gap: clamp( 2.5rem , 0.4340659341rem  +  10.3296703297vw , 8.375rem );
       -moz-column-gap: clamp( 2.5rem , 0.4340659341rem  +  10.3296703297vw , 8.375rem );
            column-gap: clamp( 2.5rem , 0.4340659341rem  +  10.3296703297vw , 8.375rem );
  }
}

@supports not ((-moz-column-gap: clamp( 2.5rem , 0.4340659341rem  +  10.3296703297vw , 8.375rem )) or (column-gap: clamp( 2.5rem , 0.4340659341rem  +  10.3296703297vw , 8.375rem ))) {
  .header-2__top {
    -webkit-column-gap: calc(2.5rem + 5.875 * (100vw - 20rem) / 56.875);
       -moz-column-gap: calc(2.5rem + 5.875 * (100vw - 20rem) / 56.875);
            column-gap: calc(2.5rem + 5.875 * (100vw - 20rem) / 56.875);
  }
}

.header-2__logo {
  position: relative;
  z-index: 7;
}

.menu__list {
  gap: 1.5625rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__link {
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 1.1666666667;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.icon-menu {
  display: none;
}

.footer {
  background-color: #0E0E0E;
  padding-top: 0.875rem;
  padding-bottom: 0.9375rem;
}

.footer__text {
  font-weight: 400;
  line-height: 1.1666666667;
  text-align: center;
}

.about {
  background-color: #0E0E0E;
}

@supports (padding-top: clamp( 2.5rem , 1.1813186813rem  +  6.5934065934vw , 6.25rem )) {
  .about {
    padding-top: clamp( 2.5rem , 1.1813186813rem  +  6.5934065934vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 1.1813186813rem  +  6.5934065934vw , 6.25rem )) {
  .about {
    padding-top: calc(2.5rem + 3.75 * (100vw - 20rem) / 56.875);
  }
}

@supports (padding-bottom: clamp( 2.5rem , 1.0934065934rem  +  7.032967033vw , 6.5rem )) {
  .about {
    padding-bottom: clamp( 2.5rem , 1.0934065934rem  +  7.032967033vw , 6.5rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.0934065934rem  +  7.032967033vw , 6.5rem )) {
  .about {
    padding-bottom: calc(2.5rem + 4 * (100vw - 20rem) / 56.875);
  }
}

@supports (margin-bottom: clamp( 1.875rem , 0.3365384615rem  +  7.6923076923vw , 6.25rem )) {
  .about__title:not(:last-child) {
    margin-bottom: clamp( 1.875rem , 0.3365384615rem  +  7.6923076923vw , 6.25rem );
  }
}

@supports not (margin-bottom: clamp( 1.875rem , 0.3365384615rem  +  7.6923076923vw , 6.25rem )) {
  .about__title:not(:last-child) {
    margin-bottom: calc(1.875rem + 4.375 * (100vw - 20rem) / 56.875);
  }
}

.about__inner {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.9375rem;
  row-gap: 1.875rem;
}

.item-about_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.8125rem;
}

.item-about__info {
  line-height: 1.1666666667;
  font-weight: 400;
  color: #E5E5E5;
}

.item-about__text {
  max-width: 48.4375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.75rem;
  font-weight: 400;
  line-height: 1.1666666667;
}

.no-webp .perview{
  background-image: url("../img/perview/background.jpg"); }

.perview {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: right;
  min-height: 100vh;
}

@supports (padding-top: clamp( 5rem , -3rem  +  40vw , 27.75rem )) {
  .perview {
    padding-top: clamp( 5rem , -3rem  +  40vw , 27.75rem );
  }
}

@supports not (padding-top: clamp( 5rem , -3rem  +  40vw , 27.75rem )) {
  .perview {
    padding-top: calc(5rem + 22.75 * (100vw - 20rem) / 56.875);
  }
}

.perview__title {
  font-style: italic;
  font-weight: 300;
  font-size: 4.5rem;
  line-height: 1.1666666667;
  color: #85CCDC;
}

.perview__title:not(:last-child) {
  margin-bottom: 2.5rem;
}

.perview__title span {
  display: block;
  padding-right: 15.625rem;
}

.perview__treiler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.75rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 16.8125rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.everything {
  background-color: #0E0E0E;
}

@supports (padding-bottom: clamp( 2.5rem , 1.1813186813rem  +  6.5934065934vw , 6.25rem )) {
  .everything {
    padding-bottom: clamp( 2.5rem , 1.1813186813rem  +  6.5934065934vw , 6.25rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.1813186813rem  +  6.5934065934vw , 6.25rem )) {
  .everything {
    padding-bottom: calc(2.5rem + 3.75 * (100vw - 20rem) / 56.875);
  }
}

@supports (padding-top: clamp( 2.5rem , 1.1813186813rem  +  6.5934065934vw , 6.25rem )) {
  .everything {
    padding-top: clamp( 2.5rem , 1.1813186813rem  +  6.5934065934vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 1.1813186813rem  +  6.5934065934vw , 6.25rem )) {
  .everything {
    padding-top: calc(2.5rem + 3.75 * (100vw - 20rem) / 56.875);
  }
}

@supports (margin-bottom: clamp( 4.375rem , 3.7156593407rem  +  3.2967032967vw , 6.25rem )) {
  .everything__title:not(:last-child) {
    margin-bottom: clamp( 4.375rem , 3.7156593407rem  +  3.2967032967vw , 6.25rem );
  }
}

@supports not (margin-bottom: clamp( 4.375rem , 3.7156593407rem  +  3.2967032967vw , 6.25rem )) {
  .everything__title:not(:last-child) {
    margin-bottom: calc(4.375rem + 1.875 * (100vw - 20rem) / 56.875);
  }
}

.everything__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21.875rem, 1fr));
  -webkit-column-gap: 4.6875rem;
     -moz-column-gap: 4.6875rem;
          column-gap: 4.6875rem;
  row-gap: 6.25rem;
}

.everything__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 5;
}

.everything__img-ibg {
  position: relative;
  z-index: 5;
  padding-bottom: 71.4285714286%;
}

.everything__num {
  font-weight: 700;
  font-size: 6rem;
  line-height: 1.1666666667;
  color: #600E09;
  position: absolute;
  left: 0;
  top: -66px;
  z-index: 1;
}

.main {
  background-color: #0E0E0E;
}

@supports (padding-bottom: clamp( 2.5rem , 1.1813186813rem  +  6.5934065934vw , 6.25rem )) {
  .main {
    padding-bottom: clamp( 2.5rem , 1.1813186813rem  +  6.5934065934vw , 6.25rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.1813186813rem  +  6.5934065934vw , 6.25rem )) {
  .main {
    padding-bottom: calc(2.5rem + 3.75 * (100vw - 20rem) / 56.875);
  }
}

@supports (padding-top: clamp( 2.5rem , 1.1813186813rem  +  6.5934065934vw , 6.25rem )) {
  .main {
    padding-top: clamp( 2.5rem , 1.1813186813rem  +  6.5934065934vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 1.1813186813rem  +  6.5934065934vw , 6.25rem )) {
  .main {
    padding-top: calc(2.5rem + 3.75 * (100vw - 20rem) / 56.875);
  }
}

.main__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@supports (margin-bottom: clamp( 2.5rem , 1.1813186813rem  +  6.5934065934vw , 6.25rem )) {
  .main__title:not(:last-child) {
    margin-bottom: clamp( 2.5rem , 1.1813186813rem  +  6.5934065934vw , 6.25rem );
  }
}

@supports not (margin-bottom: clamp( 2.5rem , 1.1813186813rem  +  6.5934065934vw , 6.25rem )) {
  .main__title:not(:last-child) {
    margin-bottom: calc(2.5rem + 3.75 * (100vw - 20rem) / 56.875);
  }
}

.main__slider {
  position: relative;
  max-width: 48.4375rem;
}

.main__image img {
  max-width: 100%;
}

.main__info {
  max-width: 21.8125rem;
}

.info-main__title {
  font-style: italic;
  font-weight: 300;
  line-height: 1.1666666667;
  color: #85CCDC;
}

@supports (font-size: clamp( 2.8125rem , 2.2190934066rem  +  2.967032967vw , 4.5rem )) {
  .info-main__title {
    font-size: clamp( 2.8125rem , 2.2190934066rem  +  2.967032967vw , 4.5rem );
  }
}

@supports not (font-size: clamp( 2.8125rem , 2.2190934066rem  +  2.967032967vw , 4.5rem )) {
  .info-main__title {
    font-size: calc(2.8125rem + 1.6875 * (100vw - 20rem) / 56.875);
  }
}

.info-main__title:not(:last-child) {
  margin-bottom: 0.6111111111em;
}

.info-main__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.8125rem;
  font-weight: 400;
  line-height: 1.1666666667;
}

.everything1 {
  background-color: #0E0E0E;
}

@supports (padding-bottom: clamp( 2.5rem , 1.1813186813rem  +  6.5934065934vw , 6.25rem )) {
  .everything1 {
    padding-bottom: clamp( 2.5rem , 1.1813186813rem  +  6.5934065934vw , 6.25rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.1813186813rem  +  6.5934065934vw , 6.25rem )) {
  .everything1 {
    padding-bottom: calc(2.5rem + 3.75 * (100vw - 20rem) / 56.875);
  }
}

@supports (padding-top: clamp( 2.5rem , 1.1813186813rem  +  6.5934065934vw , 6.25rem )) {
  .everything1 {
    padding-top: clamp( 2.5rem , 1.1813186813rem  +  6.5934065934vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 1.1813186813rem  +  6.5934065934vw , 6.25rem )) {
  .everything1 {
    padding-top: calc(2.5rem + 3.75 * (100vw - 20rem) / 56.875);
  }
}

@supports (margin-bottom: clamp( 4.375rem , 3.7156593407rem  +  3.2967032967vw , 6.25rem )) {
  .everything1__title:not(:last-child) {
    margin-bottom: clamp( 4.375rem , 3.7156593407rem  +  3.2967032967vw , 6.25rem );
  }
}

@supports not (margin-bottom: clamp( 4.375rem , 3.7156593407rem  +  3.2967032967vw , 6.25rem )) {
  .everything1__title:not(:last-child) {
    margin-bottom: calc(4.375rem + 1.875 * (100vw - 20rem) / 56.875);
  }
}

.everything1__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21.875rem, 1fr));
  -webkit-column-gap: 4.6875rem;
     -moz-column-gap: 4.6875rem;
          column-gap: 4.6875rem;
  row-gap: 6.25rem;
}

.everything1__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 5;
}

.everything1__img-ibg {
  position: relative;
  z-index: 5;
  padding-bottom: 71.4285714286%;
}

.everything1__num {
  font-weight: 700;
  font-size: 6rem;
  line-height: 1.1666666667;
  color: #600E09;
  position: absolute;
  left: 0;
  top: -66px;
  z-index: 1;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (max-width: 69em) {
  .header-2 {
    background-position: bottom;
  }

  .header-2__logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #0E0E0E;
    padding-bottom: 1.25rem;
    padding-top: 9.375rem;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu__body::after {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: fixed;
    top: 0;
    left: -100%;
    content: "";
    background-color: #0E0E0E;
    width: 100%;
    height: 8.875rem;
  }

  .menu-open .menu__body::after {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu__link {
    font-size: 3.125rem;
  }
}

@media (max-width: 73.3125em) {
  .main__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .main__info {
    max-width: 100%;
  }
}

@media (max-width: 69rem) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (max-width: 52.1875em) {
  .header {
    background-position: bottom;
  }

  .header__top {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #0E0E0E;
    padding-bottom: 1.25rem;
    padding-top: 9.375rem;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu__body::after {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: fixed;
    top: 0;
    left: -100%;
    content: "";
    background-color: #0E0E0E;
    width: 100%;
    height: 8.875rem;
  }

  .menu-open .menu__body::after {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu__link {
    font-size: 3.125rem;
  }
}

@media (max-width: 52.1875rem) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (max-width: 50.625em) {
  .main__slider {
    max-width: 100%;
  }
}

@media (max-width: 31.25em) {
  .perview {
    text-align: center;
  }

  .perview__title span {
    padding-right: 0;
  }

  .perview__treiler {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 0;
  }

  .perview__text {
    display: none;
  }
}

@media (max-width: 23.25em) {
  .everything__img-ibg img {
    max-width: 85%;
  }

  .everything1__img-ibg img {
    max-width: 85%;
  }
}

@media (any-hover: hover) {
  .menu__link:hover {
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    color: #85CCDC;
  }

  .menu__link:hover {
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    color: #85CCDC;
  }

  .everything__item:hover .everything__btn {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%;
    background-color: rgba(14, 14, 14, 0.8);
  }

  .everything__btn {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 0;
    visibility: hidden;
    z-index: 190;
    color: #fff;
    min-height: 4.0625rem;
    background-color: #0E0E0E;
    z-index: 190;
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 1.1666666667;
  }

  .everything1__item:hover .everything1__btn {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%;
    background-color: rgba(14, 14, 14, 0.8);
  }

  .everything1__btn {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 0;
    visibility: hidden;
    z-index: 190;
    color: #fff;
    min-height: 4.0625rem;
    background-color: #0E0E0E;
    z-index: 190;
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 1.1666666667;
  }
}

@media (any-hover: none) {
  .everything__btn {
    display: none;
  }

  .everything1__btn {
    display: none;
  }
}

.webp .header{ background-image: url(../img/header/background.webp); }

.webp .header-2{ background-image: url(../img/header-2/background.webp); }

.webp .perview{ background-image: url(../img/perview/background.webp); }